$color-primary: #ff005d;
$color-primary-light: #ff4287;
$color-black: #000000;
$color-white: #ffffff;
$color-gray: #f1f1f1;
$color-error: red;
$color-dark-gray: darkgray;

$bp-largest: 87.5em; // 1400px
$bp-large: 75em; // 1200px
$bp-medium: 56.25em; // 900px;
$bp-small: 37.5em; // 600px;
$bp-smallest: 25em; // 400px;
